.TestColor20c997 {
    color: #20c997;
}

.TestColorFF25C9FF {
    color: #ff25c9;
}

.TestColorFF2525FF {
    color: #ff2525;
}

.TestColor4f0aff {
    color: #4f0aff;
}

.TestColorff8306 {
    color: #ff8306;
}

.QueryStringTest ul li  {
    display: inline-block;
    padding-left: 10px;
}